.dot {
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  background-color: green;
  border-radius: 50%;
  border: 2px solid black;
  font-size: 1em;
  color: black;
  cursor: pointer;
  position: absolute;
  transition: all 0.66s ease-in-out;
}
