<ng-container *ngIf="!(gameIsOver$ | async)">
  <ng-container *ngFor="let timer of timers; trackBy: value; index as i">
    <button
      [@dotFadeInOut]
      class="dot"
      id="{{ i }}"
      [style]="{
        height: dotSize.toString() + 'px',
        width: dotSize.toString() + 'px'
      }"
      (click)="resetDot(i)"
      [disabled]="!(gameIsRunning$ | async)"
    >
      {{ timers[i] }}
    </button>
  </ng-container>
</ng-container>
<ng-container *ngIf="isDisplayed && gameIsOver$ | async">
  <app-game-over></app-game-over>
</ng-container>
