.actions-container {
  display: flex;
  place-items: center;
  place-content: flex-end;
  gap: 1em;
  margin: 0 0 1em 0;
}

.the-board {
  height: 80vh;

  .play-area {
    height: 100%;
    position: relative;

    .dot {
      text-align: center;
      text-decoration: none;
      margin-top: 10px;
      background-color: green;
      border-radius: 50%;
      border: 2px solid black;
      transition: all 0.66s ease-in-out;
      font-size: 1em;
      color: black;
      cursor: pointer;
      position: absolute;
    }

    .game-over {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 28px;
      color: red;
      text-shadow: 2px 2px black;
      width: 100%;
    }
  }
}
